- python==3.6.4
- numpy==1.13.3
- scipy==1.0.0
- matplotlib==2.1.2
- jupyter==1.0.0
- jupyter-client==5.0.1

I recommend using at least these versions of the required libraries or later. Python 2 is not supported.